docs/integracoes/n8n-whatsapp-chatbot-workflow.json
{
  "name": "WhatsApp Chatbot com IA - Agendamentos IPADO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "systemMessage": "Você é Noah, o assistente virtual da clínica IPADO, especializada em gastroenterologia e endoscopia.\n\n**Sua Personalidade:**\n- Amigável, profissional e empático\n- Use uma linguagem clara e acessível\n- Sempre confirme informações importantes\n- Seja proativo em ajudar o paciente\n\n**Suas Responsabilidades:**\n1. **Agendamentos**: Criar, consultar, remarcar e cancelar consultas\n2. **Informações**: Fornecer dados sobre médicos, horários e procedimentos\n3. **Confirmações**: Sempre confirmar os dados antes de finalizar qualquer ação\n\n**Regras de Negócio:**\n- SEMPRE pergunte o nome completo do paciente\n- SEMPRE pergunte a data de nascimento (formato DD/MM/AAAA)\n- SEMPRE pergunte o convênio (ou se é particular)\n- Para agendamentos, SEMPRE confirme: médico, data, horário e tipo de atendimento\n- Se o paciente tiver dúvidas, liste as opções disponíveis\n- Não finalize agendamentos sem confirmação explícita do paciente\n\n**Fluxo de Agendamento:**\n1. Cumprimente e pergunte como pode ajudar\n2. Se for agendamento novo:\n   - Colete: nome completo, data de nascimento, convênio\n   - Liste os médicos disponíveis\n   - Após escolha do médico, verifique horários disponíveis\n   - Apresente as opções de data/hora\n   - Confirme todos os dados antes de agendar\n3. Se for consulta de agendamento existente:\n   - Peça nome e data de nascimento\n   - Busque e apresente os agendamentos\n4. Se for cancelamento/remarcação:\n   - Confirme a identidade do paciente\n   - Mostre o agendamento atual\n   - Execute a ação solicitada após confirmação",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "openai-agent",
      "name": "AI Agent - Noah",
      "type": "@n8n/n8n-nodes-langchain.openAiChat",
      "typeVersion": 1,
      "position": [450, 400],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/medicos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "tool-listar-medicos",
      "name": "🏥 Listar Médicos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/availability",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "medico_id",
              "value": "={{ $json.medico_id }}"
            },
            {
              "name": "data_inicio",
              "value": "={{ $json.data_inicio }}"
            },
            {
              "name": "data_fim",
              "value": "={{ $json.data_fim }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-horarios-disponiveis",
      "name": "📅 Horários Disponíveis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/check-patient",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome_completo",
              "value": "={{ $json.nome_completo }}"
            },
            {
              "name": "data_nascimento",
              "value": "={{ $json.data_nascimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-buscar-agendamentos",
      "name": "🔍 Buscar Agendamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/schedule",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome_completo",
              "value": "={{ $json.nome_completo }}"
            },
            {
              "name": "data_nascimento",
              "value": "={{ $json.data_nascimento }}"
            },
            {
              "name": "convenio",
              "value": "={{ $json.convenio }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "celular",
              "value": "={{ $json.celular }}"
            },
            {
              "name": "medico_id",
              "value": "={{ $json.medico_id }}"
            },
            {
              "name": "atendimento_id",
              "value": "={{ $json.atendimento_id }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $json.data_agendamento }}"
            },
            {
              "name": "hora_agendamento",
              "value": "={{ $json.hora_agendamento }}"
            },
            {
              "name": "observacoes",
              "value": "={{ $json.observacoes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-criar-agendamento",
      "name": "✅ Criar Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/reschedule",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.agendamento_id }}"
            },
            {
              "name": "nova_data",
              "value": "={{ $json.nova_data }}"
            },
            {
              "name": "nova_hora",
              "value": "={{ $json.nova_hora }}"
            },
            {
              "name": "observacoes",
              "value": "={{ $json.observacoes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-remarcar-agendamento",
      "name": "🔄 Remarcar Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agendamento_id",
              "value": "={{ $json.agendamento_id }}"
            },
            {
              "name": "motivo",
              "value": "={{ $json.motivo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-cancelar-agendamento",
      "name": "❌ Cancelar Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qxlvzbvzajibdtlzngdy.supabase.co/functions/v1/llm-agent-api/patient-search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome_completo",
              "value": "={{ $json.nome_completo }}"
            },
            {
              "name": "data_nascimento",
              "value": "={{ $json.data_nascimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-buscar-paciente",
      "name": "👤 Buscar Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "id": "response-whatsapp",
      "name": "📱 Responder WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "AI Agent - Noah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Noah": {
      "main": [
        [
          {
            "node": "🏥 Listar Médicos",
            "type": "main",
            "index": 0
          },
          {
            "node": "📅 Horários Disponíveis",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔍 Buscar Agendamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "✅ Criar Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Remarcar Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "❌ Cancelar Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "👤 Buscar Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 Listar Médicos": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Horários Disponíveis": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Agendamentos": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Criar Agendamento": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Remarcar Agendamento": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Cancelar Agendamento": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Buscar Paciente": {
      "main": [
        [
          {
            "node": "📱 Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["whatsapp", "chatbot", "ia", "agendamentos"],
  "triggerCount": 1,
  "updatedAt": "2025-01-09T03:00:00.000Z",
  "versionId": "2"
}
